body {
    margin:0;
}

.orb {
    width: 60px;
    height: 60px;
  
    border-radius: 50%;
  
    background:
      radial-gradient(circle at 30% 30%,
      #ffffff,
      #6aa9ff,
      #2b2bff);
  
    box-shadow:
      0 0 20px rgba(80,120,255,0.8);
  
    /* backdrop-filter: blur(10px); */
  
    cursor: pointer;
  }

  @keyframes breathe {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.05); }
    100% { transform: scale(1); }
  }